<a href="https://colab.research.google.com/github/SwatiSinha1023/Python-Full-Stack-Development/blob/main/coding_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Taking input from the user for number of rows
rows = int(input("Enter the number of rows: "))

# Outer loop for each row
for i in range(rows, 0, -1):
    # Inner loop for printing numbers in decreasing order
    for j in range(i, 0, -1):
        print(j, end=" ")
    print()  # Move to the next line after each row

Enter the number of rows: 6
6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [3]:
# Get the number of rows from the user
rows = int(input("Enter the number of rows: "))

# Loop for each row
for i in range(1, rows + 1):
    # Print spaces before the stars
    print(" " * (rows - i), end="")
    # Print stars with space in between
    print(" * " * i)

Enter the number of rows: 5
     *
    *  *
   *  *  *
  *  *  *  *
 *  *  *  *  *

In [4]:
# Get the number of rows from the user
rows = int(input("Enter the number of rows: "))

# Loop to print the pattern
for i in range(rows, 0, -1):
    print('* ' * i)

Enter the number of rows: 5
* * * * *
* * * *
* * *
* *
*

In [5]:
# Input number of rows
rows = int(input("Enter the number of rows: "))

# Generate the pattern
for i in range(1, rows+1):
    for j in range(1, rows+1):
        if j < i:
            print(i, end=" ")
        else:
            print(j, end=" ")
    print()

Enter the number of rows: 5
1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [6]:
# Input: number of rows
n = int(input("Enter the number of rows: "))

# First half of the pattern (increasing part)
for i in range(1, n+1):
    print("* " * i)

# Second half of the pattern (decreasing part)
for i in range(n-1, 0, -1):
    print("* " * i)

Enter the number of rows: 9
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [7]:
# Initialize starting ASCII value for 'A'
ascii_value = 65

# Loop through the rows
for i in range(1, 6):
    for j in range(i):
        # Print the character corresponding to the current ASCII value
        print(chr(ascii_value), end=" ")
        ascii_value += 1
    print()  # Move to the next line after each row

A
B C
D E F
G H I J
K L M N O